* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins";
}
header,
.section1,
.section2 {
  padding: 0 5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
.headerLeft {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  height: 100%;
  align-items: center;
}
.logo {
  display: flex;
}
.navList {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: hsl(0, 0%, 75%);
}
.navList li {
  cursor: pointer;
}
.navList li:hover {
  color: black;
}
.headerRight {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}
.btnLogin {
  width: 7rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5rem;
  color: hsl(0, 0%, 75%);
  height: 2.5rem;
}
.btnSignUp {
  width: 7rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5rem;
  color: white;
  background-color: hsl(180, 66%, 49%);
  height: 2.5rem;
}
.btnSignUp:hover {
  opacity: 0.5;
}
/* styling section1 */
.section1 {
  display: flex;
  gap: 2rem;
  height: 100vh;
  justify-content: space-between;
}
.section1 .typographie,
.images {
  display: flex;
  align-items: center;
  width: 50%;
}
.images {
  justify-content: flex-end;
}
.section1Img {
  width: 100%;
}

.section1 .article {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-evenly;
  padding: 3rem 0px;
}
h1 {
  font-weight: bold;
  font-size: 5rem;
}
.section1 p {
  font-size: 1.5rem;
  color: rgb(191, 191, 191);
  padding-right: 5rem;
}
.btnArticle {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
  width: 100%;
  background-color: hsl(180, 66%, 49%);
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}
.btnArticle:hover {
  opacity: 0.5;
}
/* styling section2 */
.section2 {
  background-color: hsl(0, 0%, 90%);
}
.linkBlock {
  background-image: url(images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(258deg 61% 24% / 73%);
  border-radius: 1rem;
}
.shortenContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -5rem;
}
.shortenLink {
  width: 100%;
  display: flex;
  gap: 3em;
  justify-content: center;
  height: 35%;
}
#link {
  padding: 0 2rem;
  width: 75%;
  border: none;
  border-radius: 1rem;
}
.btnShort {
  width: 15%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.btnShort:hover {
  opacity: 0.5;
}
.linkShorted {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: white;
  border-radius: 0.8rem;
  height: 4rem;
  align-items: center;
}
.linkShortedRight {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.originalLInk {
  font-size: 1.3rem;
}
.newLInk {
  color: hsl(180, 66%, 49%);
  font-size: 1.3rem;
}
.btnCopy {
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.6rem;
  color: white;
  background-color: hsl(180, 66%, 49%);
  cursor: pointer;
}
.btnCopy:hover {
  opacity: 0.5;
}
.typographieS2 {
  text-align: center;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
.typographieS2 p {
  font-size: 1.5rem;
  color: rgb(191, 191, 191);
  max-width: 50rem;
  margin-bottom: 2rem;
}
.brand {
  background-color: white;
  padding: 0 1.5rem;
  max-width: 30rem;
  display: flex;
  align-items: center;
  height: 65%;
}
.detailed {
  background-color: white;
  padding: 0 1.5rem;
  max-width: 30rem;
  display: flex;
  align-items: center;
  height: 65%;
}
.fully {
  background-color: white;
  padding: 0 1.5rem;
  max-width: 30rem;
  display: flex;
  align-items: center;
  height: 65%;
}
.ticket {
  display: flex;
  gap: 5rem;
  height: 20rem;
  position: relative;
  top: -2rem;
  justify-content: center;
}
.ticket1,
.ticket2,
.ticket3 {
  display: flex;
  height: 100%;
}
.ticket2 {
  align-items: center;
}
.ticket3 {
  align-items: flex-end;
}
.ticket h4 {
  font-size: 1.5rem;
}
.ticket p {
  font-size: 1.2rem;
  color: rgb(191, 191, 191);
}
.ticket .typographie {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* styling section3 */
.section3 {
  padding: 0 5rem;
  background-image: url(images/bg-boost-desktop.svg);
  background-color: hsl(258deg 61% 24% / 73%);
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-repeat: none;
}
.section3 h3 {
  color: white;
  font-weight: bold;
}
.btnSection3 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: hsl(180, 66%, 49%);
  padding: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  width: 10rem;
}
.btnSection3:hover {
  opacity: 0.5;
}
/* footer */
footer {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(260, 8%, 14%);
  height: 25vh;
  align-items: center;
}
.typographieFooter {
  display: flex;
  gap: 15rem;
}
.features,
.resources,
.company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h6 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
footer ul {
  list-style: none;
}
footer li {
  cursor: pointer;
  color: rgb(191, 191, 191);
}
